<div
  style="height: 100vh; flex-direction: column;background-image: url('https://pubgisd-cdn.akamaized.net/live/global-account-management/assets/img/account-login.jpg');background-size: cover ;display:flex; justify-content: center; align-items: center">
<span class="p-input-icon-left" style="width: 50%">
    <i class="pi pi-search"></i>
    <input style="width: 100%" type="text" pInputText placeholder="Search" [(ngModel)]="playerSearch" (keyup)="searchPlayer($event)">
</span>

</div>
<div style="width: 85%;position: relative; top: -15rem; display: flex; justify-content: center; margin-left: auto; margin-right: auto; min-width: 50%">
  <router-outlet></router-outlet>
</div>
